{% extends 'base.html.twig' %}

{% block title %}Weirdmals - Des animaux bizarres partout dans le monde{% endblock %}

{% block body %}
<body>
    
 <div class="container mt-5">
            <div class="row">
                <div class="col-lg-8">
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <h1 class="fw-bolder mb-1">Bienvenu sur Weirdmals!</h1>
                            <!-- Post meta content-->

                        </header>
                        <!-- Preview image figure-->
                        <figure class="mb-4"><img class="img-fluid rounded" src="https://dummyimage.com/900x400/ced4da/6c757d.jpg" alt="..." /></figure>
                        <!-- Post content-->
                        <section class="mb-5">
                            <h2 class="fw-bolder mb-4 mt-5">Des animaux bizarres présents aux 4 coins du Monde.</h2>
                            <p class="fs-5 mb-4">Notre belle planète est remplie de magnifiques créatures, des jolis Maine-Coon aux mignons pandas</p>
                            <p class="fs-5 mb-4">Mais elle regorge également d'animaux extrêmement étranges, que ce soit du point de vue physique, etymologique et parfois les deux.</p>
                            <h2 class="fw-bolder mb-4 mt-5">Ce magnifique site vous propose de découvrir les immondes animaux de notre monde</h2>
                            <p class="fs-5 mb-4">N'hésitez pas à nous partager les animaux qui pour vous méritent de figurer sur ce site</p>
                        </section>
                    </article>                    
                </div>
                <!-- Side widgets-->
            
            </div>
        </div
</body>

{% endblock %}
